<form method="get" class="search">    
    <label class="label">
        <span class="span">search:</span>
        <input type="text" name="search" class="input" value="{{search}}">
        <button class="search-btn">search</button>
    </label>
</form>