<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav class="flex">
            <ul class="flex list">
                <li class="item"><a href="/catalog" class="link">Catalog</a></li>
                <li class="item"><a href="/catalog/:id" class="link">Details</a></li>
                <li class="item">
                    <a href="/"  class="brand">
                        <img src="/static/logo.png" alt="Makramee - logo">
                    </a>
                </li>
                <li class="item"><a href="/create" class="link">Create</a></li>
                <li class="item"><a href="/about" class="link">About</a></li>
                <li class="item"><a href="*" class="link">404</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}        
    </main>
    <footer>malykdim &copy; 2022</footer>
</body>
</html>