<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <header>
        <nav class="flex">
            <ul class="flex list">
                <li class="nav-link"><a href="/catalog" class="link">Catalog</a></li>
                <li class="nav-link"><a href="/category/create" class="link">Category</a></li>
                <li class="nav-link">
                    <a href="/"  class="brand">
                        <img src="/static/images/brand/logo.png" alt="Makramee - logo">
                    </a>
                </li>
                <li class="nav-link"><a href="/create" class="link">Create</a></li>
                <li class="nav-link"><a href="/profile" class="link">Profile</a></li>
                {{!-- <li class="nav-link"><a href="*" class="link">404</a></li> --}}
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}        
    </main>
    <footer>malykdim &copy; 2022</footer>
</body>
</html>