<section class="section" id="catalog">
    <h2 class="section-title">Catalog</h2>
    
    {{#if items}}
        {{> searchBasic}}
        <ul class="list">
            {{#each items}}
                {{> itemCard}}
            {{/each}}
        </ul>
        {{else}}
        <p class="notification">There are no items yet. Feel free to create one.</p>      
    {{/if}}

</section>