<section class="section" id="createCategory">
    <h2 class="section-title">Create Category</h2>
    
        <form action="/category/create" method="post" class="form">
            <label class="label">
                <span class="span">existing:</span>            
                <select name="category" id="category" multiple>
                    {{#each categories}}
                    <option value="{{categories[i]}}">Please select category</option>
                    {{!-- <option value="clothing">Clothing</option>
                    <option value="hanging">Hanging</option>
                    <option value="interior">Interior</option>
                    <option value="accessories">Accessories</option>
                    <option value="jewellery">Jewellery</option>
                    <option value="outdoors">Outdoors</option> --}}
                    {{/each}}
                </select>
            </label>

            <p class="notification">If you don't find the desired category in the dropdown above, please feel free to create a new category to match your needs.</p>
            
            <label class="label">
                <span class="span">new:</span>            
                <input type="text" name="label" class="input">
            </label>
            
            {{#if error}}
            <div class="error">
                {{#each error}}
                <p>{{this}}</p>     
                {{/each}}
            </div>
            {{/if}}
            
            <button class="submit">
                Create New Category
            </button>
        </form>

    
</section>