<section class="section" id="home">
    
    <h3 class="h3">MAKRAMEE FAIR</h3>
    
    <div class="divider">&nbsp;</div>
    
    <div class="grid">
        <figure class="grid-item-1">
            <img
                src="/static/images/flowerbeds/flowerbeds.jpg"
                alt="Gallery image 1"
                class="grid-img"
            />
        </figure>
        <figure class="grid-item-2">
            <a href="/" class="link"><h2 class="section-title">Welcome</h2></a>
        </figure>
        <figure class="grid-item-7">
            <p class="slogan">...where Craft meets Art</p>
        </figure>        
    </div>  
    
    <div class="divider">&nbsp;</div>
    
    <p class="welcome">Artists may expose and sell their work.</p>      
    <p class="welcome">Visitors may enjoy and buy.</p>      
    <p class="welcome">Feel free to become an artist!</p>      
    
</section>