<section class="section" id="search">
    <h2 class="section-title">Advanced Search</h2>
    
    {{> searchExtended}}
    
    <div class="search-results">
        search results            
    </div>
</section>