@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');


body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    
    font-family: 'Kalam', cursive;
    font-size: 16px;
    color: rgb(132, 109, 82);
    
    background-color: #fff;    
}

::selection {
	background-color: rgba(255, 235, 205, .6);
	color: rgb(132, 109, 82);
}

h1 {
    font-size: 5em;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

.grid {
    width: 100%;
    max-width: 3000px;   
    height: 100%; 

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 5% 3%;
    grid-gap: 1.5rem;
    padding: 1.5rem;
}
.blur {
    -webkit-box-shadow: inset 0px 0px 16px rgba(255, 235, 205, .2);
    -moz-box-shadow: inset 0px 0px 16px rgba(255, 235, 205, .2);
    box-shadow: inset 0px 0px 16px  rgba(255, 235, 205, .2);
    box-shadow: inset 0px 0px 16px rgba(255, 235, 205, .2);
    border-radius: 5px;
}

.grid-item-1 {grid-row: 1 / 14; grid-column: 2 / 8;}
.grid-item-2 {
    grid-row: 12 / span 2; 
    grid-column: 2 / span 3;
    padding-top: 13rem;
}
.grid-item-2 a {
    text-decoration: none;
    font-size: 2.2em;
    text-align: center;
	color: rgb(132, 109, 82);
}
.grid-item-7 {
    grid-row: 13; 
    grid-column: 3 / span 4; 
    font-size: 3.3em;
    
    padding-top: 10rem;
    margin-bottom: -5rem;
}
.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* sections */
section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    margin-bottom: 2rem;
}
.section-title {
    font-size: 3em;    
}
.link {
    font-size: 1.3em;
    color: rgb(132, 109, 82);
    cursor: pointer;
}

/* home */
section#home {
    width: 100%;
    max-width: 3000px;   
    height: 100%; 
}
.h3 {
    font-size: 3.9em;
    font-weight: normal;
}
.welcome {
    font-size: 1.7em;
}
.divider {
    width: 70%;
    height: 1px;
    margin: 3rem auto;
    border-bottom: 1px solid rgb(132, 109, 82);
}

/* catalog */
section#catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#catalog .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .9rem;
    padding: 0;
}


/* form */
.form {
    width: 25rem;
    margin: 0 auto 3rem;
    padding: 3rem;
    border: 1px solid rgb(50, 84, 10);
    border-radius: 5px;
    box-shadow: 1px 1px 15px rgba(132, 109, 82, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.form .label {
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.form .label input {
    width: 65%;
}
.form .label > select#category-list {
    width: 65%;
    margin-right: -12%;
}
.form .label > button#create-category {
    background: rgba(50, 84, 10, .4);
    border-radius: 2px;
    border: 1px solid rgb(50, 84, 10);
    
    
}
.form .label > button#create-category a {
    text-decoration: none;
    color: #fff;    
}
.form select {
    width: 72%;
}
.form .description textarea {
    text-align: left;
    display: block;
    width: 70%;
    resize: vertical;
}
.form .submit {
    width: 95%;
    font-size: 1.7em;
    font-family: inherit;
    background: rgba(50, 84, 10, .4);
    color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(50, 84, 10);
    box-shadow: 1px 1px 7px rgba(132, 109, 82, .5);
    padding: .7rem;
    margin-top: 1.7rem;
}
.form .submit:hover {
    padding: .8rem;
    font-size: 1.75em;
}
.form .submit:active {
    box-shadow: none;
    font-size: 1.75em;
}


/* search */
.search {
    margin-bottom: 4rem;
    font-size: 2em;
    display: block;
    gap: .5rem;
}
.search .label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.search .label .input {
    display: inline-block;
    font-size: .8em;
    font-family: inherit;
    padding: .5rem;
    border: 1px solid rgb(132, 109, 82);
    border-radius: 5px;    
}
.search .label .input:focus {
    border: none;
    background-color: rgba(132, 109, 82, .2);
    outline: none;
    font-weight: lighter;
    font-family: inherit;
    text-align: center;
}
.search .search-btn {
    display: inline-block;
    background-color: white;
    font-size: 1em;
    border: 1px solid rgb(132, 109, 82);
    border-radius: 5px;
    font-family: inherit;
    color: rgb(132, 109, 82);
    padding: .2rem 1rem;
}
.search .search-btn:hover {
    box-shadow: 2px 2px 5px rgb(132, 109, 82);
    
}
.search .search-btn:active {
    background-color: rgba(132, 109, 82, .2);
    color: #fff;
    box-shadow: none;    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.list {
    list-style: none;
    gap: 2.1rem;
}

/* navigation */
.nav-link .link {
    font-size: 2.1em;
    color: rgb(132, 109, 82);
    cursor: pointer;
}
.nav-link .brand {
    display: inline-block;
    width: 244px;
    height: 244px;
}
.nav-link .brand img {
    width: 100%;
    height: 100%;
}


/* itemCard */
.itemCard {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    background-color: rgba(255, 235, 205, .6);
    border: 1px solid blanchedalmond;
    border-radius: 5px;
}
.itemCard .item{
    text-decoration: none;
    font-size: 2.1em;
}
.img-box {
    max-height: 370px;
    height: 370px;
    opacity: 1;
}
.img-box img{
    border-radius: 5px 5px 0 0;        
}
.info-box {
    flex-direction: column;
    font-size: 0.7em;
    color: rgb(132, 109, 82);
}

/* detailsCard */
.detailsCard {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    background-color: rgb(255, 235, 205, .6);
    border: 1px solid blanchedalmond;
    border-radius: 5px;
}
.detailsCard .img-box {
    max-height: 720px;
    height: 720px;
    opacity: 1;
}
.detailsCard .img-box img{
    border-radius: 5px 5px 0 0;        
}
.detailsCard .info-box {
    flex-direction: column;
    font-size: 2em;
    color: rgb(132, 109, 82);
    width: 50%;
    
}

/* filter */
.filter {
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid rgb(168, 18, 18);
    border-radius: 5px;
    background: rgb(65, 54, 40);
    color: blanchedalmond;
    font-family: inherit;
    font-size: .7em;
    opacity: .5;
    width: 200px;
    
}
.filter:hover {
    font-size: .72em;
    transition: all .15s;
    box-shadow: 2px 2px 5px rgb(132, 109, 82);
}

.edit {
    display: inline-block;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid rgb(168, 18, 18);
    border-radius: 5px;
    background: blanchedalmond;
    color: rgb(168, 18, 18);
    font-family: inherit;
    font-size: .7em;
    opacity: .5;
    width: 200px;
}
.edit:hover {
    font-size: .75em;
    transition: all .15s;
    box-shadow: 2px 2px 5px rgb(132, 109, 82);
}

.delete {
    display: inline-block;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid rgb(65, 54, 40);
    border-radius: 5px;
    background: rgb(168, 18, 18);
    color: blanchedalmond;
    font-family: inherit;
    font-size: .7em;
    opacity: .5;
    width: 200px;
    
}
.delete:hover {
    font-size: .75em;
    transition: all .15s;
    box-shadow: 2px 2px 5px rgb(132, 109, 82);
}

.error {
    width: 300px;
    margin: 2rem auto .5rem;
    padding: .7rem 2rem;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.6em;
    color: rgb(196, 65, 65);
    border: 1px solid rgb(168, 18, 18);
    border-radius: 5px;
}

footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    text-align: center;
    font-weight: normal;
    
    margin: 0 auto;
    text-align: center;
    padding: .5rem 0;
    font-size: 1.2em;
    border-top: 1px solid rgb(132, 109, 82);
    background: rgb(65, 54, 40);
    color: #fff;
    opacity: .9;
}